In [1]:
import pandas as pd
import numpy as np

### NHIS

In [12]:
###Â NHIS
nhis_data = pd.read_csv("NIHS Prevalence - USA.csv")

# filter by nihs_available == True
nhis_data = nhis_data[nhis_data["nihs_available"] == "TRUE"]

# filter by demographic_cat = race
nhis_data = nhis_data[nhis_data["demographic_cat"] == "1: Race"]

# columns to keep = disease, disease_value_1, disease_value_2, disease_value_3, disease_value_4, disease_value_5, disease_value_6
nhis_data = nhis_data[
    [
        "disease",
        "disease_value_1",
        "disease_value_2",
        "disease_value_3",
        "disease_value_4",
        "disease_value_5",
        "disease_value_6",
    ]
]

# rename columns disease_value_1 -> white, disease_value_2 -> black, disease_value_3 -> hispanic, disease_value_4 -> asian, disease_value_5 -> indiginous, disease_value_6 -> pacific_islander
nhis_data.columns = [
    "disease",
    "white",
    "black",
    "hispanic",
    "asian",
    "indiginous",
    "pacific_islander",
]

nhis_data.head()

,disease,white,black,hispanic,asian,indiginous,pacific_islander
20,arthritis,"2,200.00","2,100.00","1,680.00","1,200.00","3,060.00","1,660.00"
21,asthma,750.00,910.00,600.00,370.00,950.00,NaN
26,bronchitis,410.00,370.00,240.00,NaN,NaN,NaN
27,cardiovascular disease,"1,150.00","1,000.00",820.00,770.00,"1,460.00",NaN
36,chronic kidney disease,200.00,310.00,220.00,280.00,NaN,NaN

### GBD

In [4]:
# Load the data from Global Burden of Disease
cols_to_keep = ["cause_name", "sex_name", "measure_name", "val"]
gbd_data = pd.read_csv("IHME-GBD_2019_DATA-a2d46dc9-1.csv", usecols=cols_to_keep)

gbd_data.head()

,measure_name,sex_name,cause_name,val
0,Prevalence,Male,Cirrhosis and other chronic liver diseases,16565.586016
1,Prevalence,Female,Cirrhosis and other chronic liver diseases,12217.625529
2,Prevalence,Both,Cirrhosis and other chronic liver diseases,14355.808452
3,Prevalence,Male,Tuberculosis,12626.474197
4,Prevalence,Female,Tuberculosis,9911.710526

In [5]:
# Standardize data format

# ## val column here is in n per 100,000 people
# ## Convert this to n per 10,000 for standardization

gbd_data["val"] = gbd_data["val"] / 10

# ## Remove "Both" group from sex_name
gbd_data = gbd_data[gbd_data["sex_name"] != "Both"]

gbd_data.head()

,measure_name,sex_name,cause_name,val
0,Prevalence,Male,Cirrhosis and other chronic liver diseases,1656.558602
1,Prevalence,Female,Cirrhosis and other chronic liver diseases,1221.762553
3,Prevalence,Male,Tuberculosis,1262.647420
4,Prevalence,Female,Tuberculosis,991.171053
6,Prevalence,Male,Diarrheal diseases,69.401038